#nav {
	width: 180px;
}
#nav ul {
	float:center;
	list-style-type: none;
}
#nav li {
	float:center;
	background-color: white;
	width:180px;
	text-align:center;
	border-radius:20px;
}
#nav a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	font-size: 18px;
	
}

#page {
	margin-left: 170px;
}
#nav li.current {

	background-color: #4ba61e;
	border-width:2px;
	border-style:solid;
	border-color: white;
}
